blog-automation.blueprint.json
{
    "name": "Integration HTTP",
    "flow": [
        {
            "id": 2,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://generativelanguage.googleapis.com/v1beta/models/gemini-2.5-flash:generateContent?key=AIzaSyBwqH2fCAO8NZweRxz3HjI99ii4WU7Ldbk",
                "method": "post",
                "contentType": "custom",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "contentTypeValue": "application/json",
                "rawBodyContent": "{\"contents\":[{\"parts\":[{\"text\":\"You must return ONLY valid JSON with no extra text, no markdown, no code blocks. Write a blog post about Dubai real estate. Pick ONE random topic from: luxury villas Palm Jumeirah, off-plan investments, Dubai Marina market, villa vs apartment ROI, Golden Visa property, Downtown penthouses, emerging neighborhoods, rental yields 2024, expat financing, foreign buyer legal guide, sustainable buildings, commercial real estate, property flipping, Creek Harbour developments, Arabian Ranches villas, Business Bay apartments, JBR investment, Dubai South opportunities, short vs long-term rentals, or property auctions. Return ONLY a raw JSON object no backticks no markdown no extra text. Use these exact fields: title (string), excerpt (string 100-150 chars), readTime (number), tags (STRING with exactly 3 tags already quoted and comma-separated like this: \\\"tag1\\\",\\\"tag2\\\",\\\"tag3\\\"), body (array of objects). Each body object must follow this exact structure: {\\\"_type\\\":\\\"block\\\",\\\"_key\\\":\\\"a1b\\\",\\\"style\\\":\\\"h2\\\",\\\"children\\\":[{\\\"_type\\\":\\\"span\\\",\\\"_key\\\":\\\"s1\\\",\\\"text\\\":\\\"Your heading here\\\",\\\"marks\\\":[]}],\\\"markDefs\\\":[]} for headings and {\\\"_type\\\":\\\"block\\\",\\\"_key\\\":\\\"a2b\\\",\\\"style\\\":\\\"normal\\\",\\\"children\\\":[{\\\"_type\\\":\\\"span\\\",\\\"_key\\\":\\\"s2\\\",\\\"text\\\":\\\"Your paragraph here\\\",\\\"marks\\\":[]}],\\\"markDefs\\\":[]} for paragraphs. Generate 3 h2 headings and 6 normal paragraphs. Every _key must be different 3 chars. No newlines inside text values.\"}]}]}"
            },
            "metadata": {
                "designer": {
                    "x": 0,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose"
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "CustomEnter data using a custom content type, such as text/plain."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "contentTypeValue",
                        "type": "text",
                        "label": "Content type value",
                        "required": true
                    },
                    {
                        "name": "rawBodyContent",
                        "type": "buffer",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        },
        {
            "id": 6,
            "module": "json:ParseJSON",
            "version": 1,
            "parameters": {
                "type": ""
            },
            "mapper": {
                "json": "{{replace(replace(2.data.candidates[].content.parts[].text; \"```json\"; ); \"```\"; )}}"
            },
            "metadata": {
                "designer": {
                    "x": 300,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "type": {
                            "label": "Choose a data structure"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "type",
                        "type": "udt",
                        "label": "Data structure"
                    }
                ],
                "expect": [
                    {
                        "name": "json",
                        "type": "text",
                        "label": "JSON string",
                        "required": true
                    }
                ]
            }
        },
        {
            "id": 4,
            "module": "http:MakeRequest",
            "version": 4,
            "parameters": {
                "authenticationType": "noAuth",
                "tlsType": "",
                "proxyKeychain": ""
            },
            "mapper": {
                "url": "https://kgljxpj0.api.sanity.io/v2024-01-01/data/mutate/production",
                "method": "post",
                "headers": [
                    {
                        "name": "Authorization",
                        "value": "Bearer skWwgMZ6ODGNOKgNF6LlzamZuA55gWAnjBDop1oh4Zuhv4XHtykytJrCWmt9eeXpd2GapGmMD0tEaQ1ew50Z9FRNdhJO43EYoiG1tQVAfeRJUpC7Dq2dANgl2GyQ18vb91y5wun4Z7PbO4ghKhdNDBDsGD53xhrD7bAdUqkQZINRfZvLUN8r"
                    }
                ],
                "contentType": "json",
                "parseResponse": true,
                "stopOnHttpError": true,
                "allowRedirects": true,
                "shareCookies": false,
                "requestCompressedContent": true,
                "inputMethod": "jsonString",
                "jsonStringBodyContent": "{\r\n  \"mutations\": [\r\n    {\r\n      \"create\": {\r\n        \"_type\": \"blog\",\r\n        \"title\": \"{{6.title}}\",\r\n        \"excerpt\": \"{{6.excerpt}}\",\r\n        \"readTime\": {{6.readTime}},\r\n        \"publishedAt\": \"{{now}}\",\r\n        \"slug\": {\r\n          \"_type\": \"slug\",\r\n          \"current\": \"{{6.title}}\"\r\n        },\r\n        \"body\": [{{6.body}}],\r\n        \"tags\": [{{6.tags}}]\r\n      }\r\n    }\r\n  ]\r\n}"
            },
            "metadata": {
                "designer": {
                    "x": 600,
                    "y": 0
                },
                "restore": {
                    "parameters": {
                        "authenticationType": {
                            "label": "No authenticationUse when no credentials are required for the request."
                        },
                        "tlsType": {
                            "label": "Empty"
                        },
                        "proxyKeychain": {
                            "label": "Choose a key"
                        }
                    },
                    "expect": {
                        "method": {
                            "mode": "chose",
                            "label": "POST"
                        },
                        "headers": {
                            "mode": "chose",
                            "items": [
                                null
                            ]
                        },
                        "queryParameters": {
                            "mode": "chose"
                        },
                        "contentType": {
                            "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                        },
                        "parseResponse": {
                            "mode": "chose"
                        },
                        "stopOnHttpError": {
                            "mode": "chose"
                        },
                        "allowRedirects": {
                            "mode": "chose"
                        },
                        "shareCookies": {
                            "mode": "chose"
                        },
                        "requestCompressedContent": {
                            "mode": "chose"
                        },
                        "inputMethod": {
                            "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                        },
                        "paginationType": {
                            "label": "Empty"
                        }
                    }
                },
                "parameters": [
                    {
                        "name": "authenticationType",
                        "type": "select",
                        "label": "Authentication type",
                        "required": true,
                        "validate": {
                            "enum": [
                                "noAuth",
                                "apiKey",
                                "basicAuth",
                                "oAuth"
                            ]
                        }
                    },
                    {
                        "name": "tlsType",
                        "type": "select",
                        "label": "Transport layer security (TLS)",
                        "validate": {
                            "enum": [
                                "mTls",
                                "tls"
                            ]
                        }
                    },
                    {
                        "name": "proxyKeychain",
                        "type": "keychain:proxy",
                        "label": "Proxy"
                    }
                ],
                "expect": [
                    {
                        "name": "url",
                        "type": "url",
                        "label": "URL",
                        "required": true
                    },
                    {
                        "name": "method",
                        "type": "select",
                        "label": "Method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "get",
                                "head",
                                "post",
                                "put",
                                "patch",
                                "delete",
                                "options"
                            ]
                        }
                    },
                    {
                        "name": "headers",
                        "type": "array",
                        "label": "Headers",
                        "spec": {
                            "name": "value",
                            "label": "Header",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true,
                                    "validate": {
                                        "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                    }
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "queryParameters",
                        "type": "array",
                        "label": "Query parameters",
                        "spec": {
                            "name": "value",
                            "label": "Parameter",
                            "type": "collection",
                            "spec": [
                                {
                                    "name": "name",
                                    "label": "Name",
                                    "type": "text",
                                    "required": true
                                },
                                {
                                    "name": "value",
                                    "label": "Value",
                                    "type": "text"
                                }
                            ]
                        }
                    },
                    {
                        "name": "contentType",
                        "type": "select",
                        "label": "Body content type",
                        "validate": {
                            "enum": [
                                "json",
                                "multipart",
                                "urlEncoded",
                                "custom"
                            ]
                        }
                    },
                    {
                        "name": "parseResponse",
                        "type": "boolean",
                        "label": "Parse response",
                        "required": true
                    },
                    {
                        "name": "stopOnHttpError",
                        "type": "boolean",
                        "label": "Return error if HTTP request fails",
                        "required": true
                    },
                    {
                        "name": "timeout",
                        "type": "uinteger",
                        "label": "Timeout",
                        "validate": {
                            "min": 1,
                            "max": 300
                        }
                    },
                    {
                        "name": "allowRedirects",
                        "type": "boolean",
                        "label": "Allow redirects",
                        "required": true
                    },
                    {
                        "name": "shareCookies",
                        "type": "boolean",
                        "label": "Share cookies with other HTTP modules",
                        "required": true
                    },
                    {
                        "name": "requestCompressedContent",
                        "type": "boolean",
                        "label": "Request compressed content",
                        "required": true
                    },
                    {
                        "name": "inputMethod",
                        "type": "select",
                        "label": "Body input method",
                        "required": true,
                        "validate": {
                            "enum": [
                                "dataStructure",
                                "jsonString"
                            ]
                        }
                    },
                    {
                        "name": "jsonStringBodyContent",
                        "type": "text",
                        "label": "Body content",
                        "required": true
                    },
                    {
                        "name": "paginationType",
                        "type": "select",
                        "label": "Pagination type",
                        "validate": {
                            "enum": [
                                "offsetBased",
                                "pageBased",
                                "urlBased",
                                "tokenBased"
                            ]
                        }
                    }
                ],
                "interface": [
                    {
                        "name": "data",
                        "label": "Data",
                        "type": "any"
                    },
                    {
                        "name": "statusCode",
                        "label": "Status Code",
                        "type": "number"
                    },
                    {
                        "name": "headers",
                        "label": "Headers",
                        "type": "collection",
                        "spec": [
                            {
                                "name": "content-length",
                                "label": "Content-Length",
                                "type": "text"
                            },
                            {
                                "name": "content-encoding",
                                "label": "Content-Encoding",
                                "type": "text"
                            },
                            {
                                "name": "content-type",
                                "label": "Content-Type",
                                "type": "text"
                            },
                            {
                                "name": "server",
                                "label": "Server",
                                "type": "text"
                            },
                            {
                                "name": "cache-control",
                                "label": "Cache-Control",
                                "type": "text"
                            },
                            {
                                "name": "set-cookie",
                                "label": "Set-Cookie",
                                "type": "array",
                                "spec": {
                                    "type": "text"
                                }
                            }
                        ]
                    }
                ]
            }
        }
    ],
    "metadata": {
        "instant": false,
        "version": 1,
        "scenario": {
            "roundtrips": 1,
            "maxErrors": 3,
            "autoCommit": true,
            "autoCommitTriggerLast": true,
            "sequential": false,
            "slots": null,
            "confidential": false,
            "dataloss": false,
            "dlq": false,
            "freshVariables": false
        },
        "designer": {
            "orphans": [
                [
                    {
                        "id": 9,
                        "module": "http:MakeRequest",
                        "version": 4,
                        "parameters": {
                            "authenticationType": "noAuth",
                            "tlsType": "",
                            "proxyKeychain": ""
                        },
                        "mapper": {
                            "url": "https://kgljxpj0.api.sanity.io/v2024-01-01/data/mutate/production",
                            "method": "post",
                            "headers": [
                                {
                                    "name": "Authorization",
                                    "value": "Bearer skWwgMZ6ODGNOKgNF6LlzamZuA55gWAnjBDop1oh4Zuhv4XHtykytJrCWmt9eeXpd2GapGmMD0tEaQ1ew50Z9FRNdhJO43EYoiG1tQVAfeRJUpC7Dq2dANgl2GyQ18vb91y5wun4Z7PbO4ghKhdNDBDsGD53xhrD7bAdUqkQZINRfZvLUN8r"
                                }
                            ],
                            "contentType": "json",
                            "parseResponse": true,
                            "stopOnHttpError": true,
                            "allowRedirects": true,
                            "shareCookies": false,
                            "requestCompressedContent": true,
                            "inputMethod": "jsonString",
                            "jsonStringBodyContent": "{\r\n  \"mutations\": [\r\n    {\r\n      \"patch\": {\r\n        \"id\": \"{{4.data.results[].id}}\",\r\n        \"set\": {\r\n          \"tags\": {{6.tags}}\r\n        }\r\n      }\r\n    }\r\n  ]\r\n}"
                        },
                        "metadata": {
                            "designer": {
                                "x": 451,
                                "y": -364,
                                "messages": [
                                    {
                                        "category": "link",
                                        "severity": "warning",
                                        "message": "The module is not connected to the data flow."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'HTTP - Make a request' [4] is not accessible."
                                    },
                                    {
                                        "category": "reference",
                                        "severity": "warning",
                                        "message": "Referenced module 'JSON - Parse JSON' [6] is not accessible."
                                    }
                                ]
                            },
                            "restore": {
                                "parameters": {
                                    "authenticationType": {
                                        "label": "No authenticationUse when no credentials are required for the request."
                                    },
                                    "tlsType": {
                                        "label": "Empty"
                                    },
                                    "proxyKeychain": {
                                        "label": "Choose a key"
                                    }
                                },
                                "expect": {
                                    "method": {
                                        "mode": "chose",
                                        "label": "POST"
                                    },
                                    "headers": {
                                        "mode": "chose",
                                        "items": [
                                            null
                                        ]
                                    },
                                    "queryParameters": {
                                        "mode": "chose"
                                    },
                                    "contentType": {
                                        "label": "application/jsonEnter data in the JSON format, as a string or using a data structure."
                                    },
                                    "parseResponse": {
                                        "mode": "chose"
                                    },
                                    "stopOnHttpError": {
                                        "mode": "chose"
                                    },
                                    "allowRedirects": {
                                        "mode": "chose"
                                    },
                                    "shareCookies": {
                                        "mode": "chose"
                                    },
                                    "requestCompressedContent": {
                                        "mode": "chose"
                                    },
                                    "inputMethod": {
                                        "label": "JSON stringEnter the JSON body as a raw text string. If values contain JSON reserved characters, you must escape them manually."
                                    },
                                    "paginationType": {
                                        "label": "Empty"
                                    }
                                }
                            },
                            "parameters": [
                                {
                                    "name": "authenticationType",
                                    "type": "select",
                                    "label": "Authentication type",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "noAuth",
                                            "apiKey",
                                            "basicAuth",
                                            "oAuth"
                                        ]
                                    }
                                },
                                {
                                    "name": "tlsType",
                                    "type": "select",
                                    "label": "Transport layer security (TLS)",
                                    "validate": {
                                        "enum": [
                                            "mTls",
                                            "tls"
                                        ]
                                    }
                                },
                                {
                                    "name": "proxyKeychain",
                                    "type": "keychain:proxy",
                                    "label": "Proxy"
                                }
                            ],
                            "expect": [
                                {
                                    "name": "url",
                                    "type": "url",
                                    "label": "URL",
                                    "required": true
                                },
                                {
                                    "name": "method",
                                    "type": "select",
                                    "label": "Method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "get",
                                            "head",
                                            "post",
                                            "put",
                                            "patch",
                                            "delete",
                                            "options"
                                        ]
                                    }
                                },
                                {
                                    "name": "headers",
                                    "type": "array",
                                    "label": "Headers",
                                    "spec": {
                                        "name": "value",
                                        "label": "Header",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true,
                                                "validate": {
                                                    "pattern": "^[-!#$%&'*+.^_`|~0-9A-Za-z]+$"
                                                }
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "queryParameters",
                                    "type": "array",
                                    "label": "Query parameters",
                                    "spec": {
                                        "name": "value",
                                        "label": "Parameter",
                                        "type": "collection",
                                        "spec": [
                                            {
                                                "name": "name",
                                                "label": "Name",
                                                "type": "text",
                                                "required": true
                                            },
                                            {
                                                "name": "value",
                                                "label": "Value",
                                                "type": "text"
                                            }
                                        ]
                                    }
                                },
                                {
                                    "name": "contentType",
                                    "type": "select",
                                    "label": "Body content type",
                                    "validate": {
                                        "enum": [
                                            "json",
                                            "multipart",
                                            "urlEncoded",
                                            "custom"
                                        ]
                                    }
                                },
                                {
                                    "name": "parseResponse",
                                    "type": "boolean",
                                    "label": "Parse response",
                                    "required": true
                                },
                                {
                                    "name": "stopOnHttpError",
                                    "type": "boolean",
                                    "label": "Return error if HTTP request fails",
                                    "required": true
                                },
                                {
                                    "name": "timeout",
                                    "type": "uinteger",
                                    "label": "Timeout",
                                    "validate": {
                                        "min": 1,
                                        "max": 300
                                    }
                                },
                                {
                                    "name": "allowRedirects",
                                    "type": "boolean",
                                    "label": "Allow redirects",
                                    "required": true
                                },
                                {
                                    "name": "shareCookies",
                                    "type": "boolean",
                                    "label": "Share cookies with other HTTP modules",
                                    "required": true
                                },
                                {
                                    "name": "requestCompressedContent",
                                    "type": "boolean",
                                    "label": "Request compressed content",
                                    "required": true
                                },
                                {
                                    "name": "inputMethod",
                                    "type": "select",
                                    "label": "Body input method",
                                    "required": true,
                                    "validate": {
                                        "enum": [
                                            "dataStructure",
                                            "jsonString"
                                        ]
                                    }
                                },
                                {
                                    "name": "jsonStringBodyContent",
                                    "type": "text",
                                    "label": "Body content",
                                    "required": true
                                },
                                {
                                    "name": "paginationType",
                                    "type": "select",
                                    "label": "Pagination type",
                                    "validate": {
                                        "enum": [
                                            "offsetBased",
                                            "pageBased",
                                            "urlBased",
                                            "tokenBased"
                                        ]
                                    }
                                }
                            ],
                            "interface": [
                                {
                                    "name": "data",
                                    "label": "Data",
                                    "type": "any"
                                },
                                {
                                    "name": "statusCode",
                                    "label": "Status Code",
                                    "type": "number"
                                },
                                {
                                    "name": "headers",
                                    "label": "Headers",
                                    "type": "collection",
                                    "spec": [
                                        {
                                            "name": "content-length",
                                            "label": "Content-Length",
                                            "type": "text"
                                        },
                                        {
                                            "name": "content-encoding",
                                            "label": "Content-Encoding",
                                            "type": "text"
                                        },
                                        {
                                            "name": "content-type",
                                            "label": "Content-Type",
                                            "type": "text"
                                        },
                                        {
                                            "name": "server",
                                            "label": "Server",
                                            "type": "text"
                                        },
                                        {
                                            "name": "cache-control",
                                            "label": "Cache-Control",
                                            "type": "text"
                                        },
                                        {
                                            "name": "set-cookie",
                                            "label": "Set-Cookie",
                                            "type": "array",
                                            "spec": {
                                                "type": "text"
                                            }
                                        }
                                    ]
                                }
                            ]
                        }
                    }
                ]
            ]
        },
        "zone": "eu1.make.com",
        "notes": []
    }
}